</div>

<div class="ui container">
@if(Context.String(BlogKeys.Intro) != null)
{                  
    <p class="ui text massive">
      Hello world, welcome to upcoming coala language theory website (WIP).</p>
}
